<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/header"></th:block>
    <style>
        .container { width: 50% }
        h2 { margin-bottom: 20px }
        .container-owner-btn { float: right }
        .container-pets { margin-top: 15% }
        .pets-tables-btns { display: inline-block }
        .pets-tables-btns > a:nth-child(1) { margin-bottom: 10px }
    </style>
</head>
<body>
<th:block th:include="include/navigation"></th:block>
<div class="container">
    <div class="container-owner">
        <div class="table-reponsive">
            <h2>Owner Profile</h2>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>이름</td>
                        <td th:text="${owner.name}"></td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td th:text="${owner.address}"></td>
                    </tr>
                    <tr>
                        <td>핸드폰</td>
                        <td th:text="${owner.phone}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-owner-btn">
            <a class="btn btn-primary" role="button" th:href="@{|/owners/${owner.id}/form|}">보호자 정보 수정</a>
            <a class="btn btn-success" role="button" th:href="@{|/owners/${owner.id}/pets/new|}">애완동물 추가</a>
        </div>
    </div>
    <div class="container-pets">
        <h2>Pets Profile</h2>
        <div class="container-pets-tables row" th:each="pet: ${pets}">
            <div class="col-md-11">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>이름</td>
                            <td th:text="${pet.name}">name</td>
                        </tr>
                        <tr>
                            <td>생년월일</td>
                            <td th:text="${pet.birthDate}">birthDate</td>
                        </tr>
                        <tr>
                            <td>종류</td>
                            <td th:text="${pet.type}">type</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pets-tables-btns col-md-1">
                <a class="btn btn-primary" role="button" th:href="@{|/pets/${pet.id}/form|}">정보 수정</a>
                <a class="btn btn-info" role="button" th:href="@{|/pets/${pet.id}/visits|}">방문 정보</a>
            </div>
        </div> <!-- /container-pets-tables -->
    </div>
</div> <!-- /container -->
<th:block th:include="include/footer"></th:block>
</body>
</html>