<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/header"></th:block>
    <style>
        .container { width: 60% }
        .container-form { width: 60%; margin-left: 20%; }
        .btn-primary { margin-left: 15% }
        .btn-success { margin-top: 20px }
        h3 { margin-left: 10%; margin-bottom: 20px; }
    </style>
</head>
<body>
<th:block th:include="include/navigation"></th:block>
<div class="container">
    <h3>Edit Owner Profile</h3>
    <div class="container-form">
        <form th:action="@{|/owners/${owner.id}/|}" method="post" class="form-horizontal">
            <input type="hidden" name="_method" value="PUT" />
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="홍길동" th:value="${owner.name}"/>
            </div>
            <div class="form-group">
                <label for="address">주소</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="경기 성남시 분당구 불정로 6" th:value="${owner.address}"/>
            </div>
            <div class="form-group">
                <label for="phone">핸드폰</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="01012345678" th:value="${owner.phone}" readonly/>
            </div>
            <button type="submit" class="btn btn-success">수정</button>
        </form>
    </div>
</div> <!-- /container -->
<th:block th:include="include/footer"></th:block>
</body>
</html>