<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/header"></th:block>
    <style>
        .alert {
            width : 60%;
            margin-left: 20%;
        }
    </style>
</head>
<body>
<th:block th:include="include/navigation"></th:block>
<div class="container">
    <div class="alert alert-danger" role="alert">
        Something went wrong...
    </div>
</div> <!-- /container -->
</body>
<th:block th:include="include/footer"></th:block>
</html>